@layer components {
  .card {
    @apply font-sans rounded-[10px] relative overflow-hidden;
  }

  .card__image {
    @apply w-full h-70.5 object-cover;
  }

  .card__image:hover {
    @apply cursor-pointer;
  }
}
