@layer components {
  .search {
    @apply w-full flex justify-center;
  }

  .search__form {
    @apply flex w-full max-w-2xl bg-white rounded-xl shadow-md overflow-hidden;
  }

  .search__input {
    @apply grow px-4 py-3 text-base outline-none placeholder-gray-400;
  }

  .search__button {
    @apply px-5 bg-gray-300 text-black text-lg flex items-center justify-center transition-all cursor-pointer;
  }

  .search__button:hover {
    @apply bg-gray-400;
  }

  .search__button:active {
    @apply scale-95;
  }
}
