@layer components {
  .header {
  @apply min-h-30 font-sans flex justify-between items-center shrink-0 relative;
}

.header::before {
  content: '';
  @apply absolute left-1/2 bottom-0 w-full h-px;
  opacity: 0.7;
  background: #545454;
  transform: translateX(-50%);
}

@media screen and (max-width: 480px) {
  .header {
    @apply min-h-21.25;
  }
  .header::before {
    width: calc(100% + 40px);
  }
}

}