@layer components {
  .popup {
  @apply font-sans flex items-center justify-center fixed inset-0 z-10 bg-black/50 opacity-0 invisible pointer-events-none select-none transition-all;
}

.popup_is-animated {
  @apply flex opacity-0 invisible pointer-events-none select-none transition-all;
}

.popup_is-opened {
  @apply flex opacity-100 visible pointer-events-auto;
}

.popup__caption {
  @apply text-[12px] leading-3.75 text-white absolute m-0;
  left: 0;
  top: calc(100% + 10px);
}

.popup__close {
  @apply w-8.75 h-8.75 absolute p-0 m-0 cursor-pointer transition-all;
  background: transparent url('../../../assets/close.svg') center no-repeat;
  background-size: 35px 35px;
  transform: rotate(90deg);
}

.popup__close:hover {
  @apply opacity-60;
}

.popup__content {
  @apply relative max-w-107.5 w-full min-h-45.25 bg-white rounded-[10px] box-border p-[34px_36px];
}

@media screen and (max-width: 568px) {
  .popup__content {
    width: 100%;
    max-width: calc(100% - 80px);
    margin-top: 40px;
    padding: 30px 20px;
  }
}

.popup__content_content_image {
  @apply flex bg-transparent p-0;
  max-width: 75vw;
  max-height: 75vh;
  height: auto;
  width: auto;
  border-radius: 0;
  background-size: cover;
}

.popup__image {
  @apply block max-w-full max-h-full object-cover;
}

.popup__title {
  @apply m-0 text-[24px] leading-7.5;
}

@media screen and (max-width: 568px) {
  .popup__title {
    @apply text-[18px] leading-5.5;
  }
}

}