@import 'tailwindcss';

@import './base/base.css';
@import './page/page.css';
@import './components/header.css';
@import './components/footer.css';
@import './components/card.css';
@import './components/list.css';
@import './components/form.css';
@import './components/popup.css';

